$orange-dull: #F68D4E;
$orange-bright: #FC8238;
$gray-dark: #555353;
$gray-light: #D0CECE;
$green-dull: #707572;
$green-light: #879679;
$biege: #FAF4E8;
$skyblue: #D3E7F3;
$white: #fff;


$defaultFont: 'Open Sans', sans-serif;
$displayFont: Domine, serif;

$roation: rotate(-7deg);
