.contact {
    background: $biege;
    color: $gray-dark;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    &Info {
        padding: 8vmax 3vmax;
        text-align: right;

        &__heading {
            font-size: 7vmax;
            font-family: $displayFont;
            margin-bottom: 5vmax;
        }

        &__links {
            li {
                margin-bottom: 1.5vmax;
                margin-left: 10vmax;


                a {
                    background: $skyblue;
                    color: $gray-dark;
                    font-size: 2vmax;
                    text-decoration: none;
                    display: block;
                    padding: .5vmax 1vmax .5vmax 5vmax;

                    &:hover,
                    &:active {
                        color: $white;
                        background: $gray-dark;
                    }
                }

            }
        }
    }

    &ImgWrapper {
        img {
            object-fit: cover;
            object-position: right;
            height: 100%;
            width: 100%;
        }
    }
}

.aspect-very-tall {
    .contact {
        grid-template-columns: 1fr;
        border-bottom: 1vmax solid $orange-dull;

        &ImgWrapper {
            height: 35vmax;
        }
    }

    // for phones
    @media (max-width: 480px) {
        .contactInfo__links li a {
            font-size: 2.4vmax;
        }
    }
}
