@charset "UTF-8";
/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #555353;
}

h1 {
  font-size: 13rem;
}

a {
  color: #555353;
}

@keyframes bounce {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  20% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -0.7em, 0);
    transform: translate3d(0, -0.7em, 0);
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.intro {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #FAF4E8;
  font-family: Domine, serif;
}
.intro .introTop {
  transform: rotate(-7deg);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  line-height: 1;
  color: #555353;
  text-shadow: 0 3px #D0CECE;
  font-weight: bold;
}
.intro .introTop__line1 {
  font-size: 12vw;
  margin-left: 7vw;
  border-top: 3vh solid #F68D4E;
  position: relative;
  display: inline-block;
}
.intro .introTop__line1:after {
  content: " ";
  width: 100%;
  height: 3vh;
  position: absolute;
  top: -8vh;
  left: 0;
  background: #FC8238;
}
.intro .introTop__line2 {
  font-size: 9vw;
  margin-top: -2vw;
  margin-left: 25vw;
}
.intro .introTop__line2 > span {
  font-size: 3vw;
  background: #F68D4E;
  color: white;
  padding: 3px 20px;
  position: relative;
  top: -2vw;
  text-shadow: 0 3px #FC8238;
}
.intro .introTop__line3 {
  font-size: 4.5vw;
  margin-top: 2vw;
  margin-left: 4vw;
  border-left: 3vh solid #F68D4E;
  position: relative;
  padding-left: 5vh;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.intro .introTop__line3:after {
  content: " ";
  height: 100%;
  width: 3vh;
  position: absolute;
  left: -8vh;
  top: 0;
  background: #FC8238;
}
.intro .introTop__line3 br {
  display: none;
}
.intro .introBottom {
  background: #707572;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-right: 10vw;
  text-shadow: 0 3px #474e3d;
}
.intro .introBottom:before {
  content: " ";
  width: 210%;
  height: 36vh;
  position: absolute;
  top: -26vh;
  right: -100%;
  transform: rotate(-7deg);
  background: #707572;
}
.intro .introBottom__arrowWrapper {
  position: absolute;
  left: 32vmax;
  bottom: 4vmax;
  font-size: 1.2vmax;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  z-index: 3;
}
.intro .introBottom__arrow {
  text-align: center;
  height: 1.3em;
  width: 6em;
  margin-bottom: 0.9em;
  margin-top: 0.9em;
  transform: rotate(-180deg);
  opacity: 0.8;
}
.intro .introBottom__arrow:before {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 50.25%;
  background: #879679;
  transform: skew(0deg, -30deg);
  box-shadow: 0.1em -2em 0 0em #5A694D;
}
.intro .introBottom__arrow:after {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  height: 100%;
  width: 50.5%;
  background: #879679;
  transform: skew(0deg, 30deg);
  box-shadow: 0.1em -2.1em 0 0em #5A694D;
}
.intro .introBottom__inner {
  margin-top: -14vh;
  margin-bottom: 7vh;
  position: relative;
  z-index: 2;
  font-size: 3vw;
  line-height: 1.2;
}

.aspect-very-wide .intro {
  min-height: 100vh;
  height: auto;
}
.aspect-very-wide .introTop,
.aspect-very-wide .introBottom {
  position: relative;
}
.aspect-very-wide .introTop,
.aspect-very-wide .introBottom:before {
  transform: rotate(-4deg);
}
.aspect-very-wide .introBottom:before {
  margin-top: 12vh;
}
.aspect-very-wide .introBottom {
  margin-top: 29vh;
  padding-bottom: 10vh;
}
.aspect-very-wide .introBottom__inner {
  margin-bottom: 0;
}

.aspect-wide .introTop {
  height: 62vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.aspect-wide .introBottom__arrowWrapper {
  bottom: 1vmax;
}

.aspect-tall .introTop__line1 {
  border-top-width: 2vh;
  padding-top: 2vh;
  margin-top: 2vw;
}
.aspect-tall .introTop__line1:after {
  height: 2vh;
  top: -6vh;
}
.aspect-tall .introTop__line1,
.aspect-tall .introTop__line2 {
  padding-right: 10vw;
}
.aspect-tall .introTop__line3 {
  font-size: 7vh;
  border-left-width: 2vh;
  padding-left: 6vh;
  margin-left: 20vw;
  margin-top: 3vw;
}
.aspect-tall .introTop__line3:after {
  width: 2vh;
  left: -6vh;
}
.aspect-tall .introTop__line3 br {
  display: block;
}
.aspect-tall .introBottom__inner {
  font-size: 4vw;
}

.aspect-very-tall .introTop {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.aspect-very-tall .introTop__line1 {
  border-top-width: 2vh;
  padding-top: 2vh;
  font-size: 19vw;
  margin-top: 6vh;
}
.aspect-very-tall .introTop__line1:after {
  height: 2vh;
  top: -6vh;
}
.aspect-very-tall .introTop__line2 {
  font-size: 14vw;
}
.aspect-very-tall .introTop__line2 span {
  font-size: 5vw;
}
.aspect-very-tall .introTop__line3 {
  font-size: 9vw;
  padding-right: 13vw;
  margin-top: 6vh;
  border-left-width: 2vh;
  padding-left: 3vh;
  margin-left: 10vw;
}
.aspect-very-tall .introTop__line3:after {
  width: 2vh;
  left: -6vh;
}
.aspect-very-tall .introBottom__arrowWrapper {
  left: 6vmax;
  bottom: 3vmax;
}
.aspect-very-tall .introBottom__inner {
  height: 30vh;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-size: 6.5vw;
  padding-bottom: 7vh;
  margin-top: -17vh;
}
.aspect-very-tall .introBottom__inner > div {
  width: 100%;
}
@media (max-width: 480px) {
  .aspect-very-tall .introBottom__arrowWrapper {
    left: 3vmax;
  }
}

.bioSection {
  background: #707572;
  color: white;
  font-size: 2.5vw;
  padding: 5vh 5vw 1vh;
  font-family: Domine, serif;
  line-height: 1.5;
  position: relative;
}
.bioSectionWrapper {
  overflow: hidden;
  padding-bottom: 26vh;
  background: #FAF4E8;
}
.bioSection:after {
  content: " ";
  width: 210%;
  height: 36vh;
  position: absolute;
  bottom: -20vh;
  right: -100%;
  transform: rotate(4deg);
  background: #707572;
}
.bioSection p,
.bioSection img {
  position: relative;
  z-index: 2;
}
.bioSection p {
  margin-bottom: 5vw;
}
.bioSection p:nth-child(2) {
  border-right: 2.5vw solid #879679;
  padding: 3vw 3vw 3vw 0;
  margin-left: 4vw;
  margin-bottom: 2vw;
}
.bioSection p:not(:nth-child(2)) {
  margin-right: 4vw;
}
.bioSection p:last-child {
  padding-left: 4vw;
  margin-bottom: 0;
}
.bioSection__image-tall {
  float: left;
  padding: 0 3vw 0 2vw;
  border-left: 2.5vw solid #879679;
  width: 40vw;
  max-width: 700px;
}
.bioSection__image-wide {
  display: none;
}

.aspect-tall .bioSection {
  font-size: 2.8vw;
}

.aspect-very-tall .bioSection {
  font-size: 2.8vh;
  padding: 1vh 5vw 1vh;
}
.aspect-very-tall .bioSection:after {
  bottom: -10vh;
}
.aspect-very-tall .bioSectionWrapper {
  padding-bottom: 18vh;
}
.aspect-very-tall .bioSection p:last-child {
  padding-left: 0;
}
.aspect-very-tall .bioSection p:nth-child(2), .aspect-very-tall .bioSection p:nth-child(4), .aspect-very-tall .bioSection p:nth-child(5) {
  border-left: 3vh solid #879679;
  padding-left: 3vh;
  border-right: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 3vh;
}
.aspect-very-tall .bioSection__image-tall {
  display: none;
}
.aspect-very-tall .bioSection__image-wide {
  display: inline-block;
  margin-bottom: 5vh;
}

.skills {
  background: #FAF4E8;
  padding-bottom: 10vw;
  overflow: hidden;
}
.skills__heading {
  font-size: 5.5vmax;
  text-align: center;
  font-family: Domine, serif;
  margin-bottom: 7vw;
}
.skills__heading span {
  border-bottom: 1vw solid #F68D4E;
}

.circleWrapper {
  text-align: center;
}

.circle {
  border: 3px solid black;
  width: 54vmax;
  height: 54vmax;
  border-radius: 100%;
  max-width: 100vw;
  display: inline-block;
  position: relative;
}
.circle__title {
  text-align: center;
  font-size: 2.6vmax;
  padding: 4vmax 0 13vmax;
  letter-spacing: 1px;
  font-weight: bold;
  height: 90%;
  padding-right: 1vmax;
  padding-left: 1vmax;
  padding-top: 17vmax;
  position: absolute;
  top: 0;
}
.circle__title--development {
  left: -8vmax;
  transform: rotate(180deg);
  text-orientation: sideways-right;
  writing-mode: vertical-lr;
  top: 4vmax;
}
@media (max-width: 767px) {
  .circle__title--development {
    left: -5vmax;
  }
}
.circle__title--design {
  right: -8vmax;
  text-orientation: sideways-right;
  writing-mode: vertical-lr;
}
@media (max-width: 767px) {
  .circle__title--design {
    right: -5vmax;
  }
}

.circle-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.circle--1 {
  margin-right: -10vmax;
  padding-right: 15vmax;
  position: relative;
  top: -1vmax;
  background: rgba(138, 240, 84, 0.2);
  z-index: 1;
}

.circle--2 {
  margin-left: -10vmax;
  padding-left: 15vmax;
  background: #8bbeff;
  z-index: 0;
}

.circle--middle {
  width: 25vmax;
  margin: -16vmax;
  margin-bottom: -15vmax;
  margin-bottom: -45vmax;
  height: 49vmax;
  border: 0 none;
  padding-top: 10vmax;
  position: relative;
  top: 6vmax;
  z-index: 3;
}

.circle .skill {
  position: relative;
  font-size: 1.9vmax;
  color: #272727;
}

body:not(.aspect-very-tall) .circle--1 .skill:nth-child(1) {
  left: 2vmax;
}
body:not(.aspect-very-tall) .circle--2 .skill:nth-child(1) {
  right: 2vmax;
}
body:not(.aspect-very-tall) .circle--1 .skill:nth-child(2) {
  right: 3vmax;
}
body:not(.aspect-very-tall) .circle--2 .skill:nth-child(2) {
  left: 3vmax;
}
body:not(.aspect-very-tall) .circle--1 .skill:nth-child(3) {
  right: 4vmax;
}
body:not(.aspect-very-tall) .circle--2 .skill:nth-child(3) {
  left: 4vmax;
}
body:not(.aspect-very-tall) .circle--1 .skill:nth-child(4) {
  right: 5vmax;
}
body:not(.aspect-very-tall) .circle--2 .skill:nth-child(4) {
  left: 3vmax;
}
body:not(.aspect-very-tall) .circle--1 .skill:nth-child(5) {
  right: 2vmax;
}
body:not(.aspect-very-tall) .circle--2 .skill:nth-child(5) {
  left: -2vmax;
  top: -1vmax;
}
body:not(.aspect-very-tall) .circle--1 .skill:nth-child(6) {
  right: -3vmax;
  top: -2vmax;
}

.aspect-very-tall .skills__heading {
  padding-right: 6vmax;
}
.aspect-very-tall .circleTitle {
  text-orientation: sideways-right;
  writing-mode: vertical-lr;
  float: right;
  text-align: left;
  height: 90%;
  padding-right: 1vmax;
  padding-left: 1vmax;
  padding-top: 17vmax;
}
.aspect-very-tall .circleTitle > span {
  margin-top: 10vmax;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.aspect-very-tall .circle {
  width: 45vmax;
  height: 45vmax;
}
.aspect-very-tall .circle-inner {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.aspect-very-tall .circle--1 {
  margin-right: 0;
  padding-right: 0;
  top: 0;
  margin-bottom: -18vmax;
  padding-bottom: 23vmax;
  padding-right: 8vmax;
  padding-left: 8vmax;
  padding-top: 5vmax;
}
.aspect-very-tall .circle--middle {
  top: 0;
  padding: 0;
  margin: 0;
  width: 50vmax;
  height: auto;
  padding: 1vmax 9vmax 0;
}
.aspect-very-tall .circle--middle .circle-inner {
  display: flex;
}
.aspect-very-tall .circle--2 {
  margin-left: 0;
  padding-left: 0;
  margin-top: -15vmax;
  padding-top: 18vmax;
  padding-right: 8vmax;
  padding-left: 8vmax;
  padding-bottom: 2vmax;
}
.aspect-very-tall .skill {
  font-size: 2.3vmax;
  padding: 5px 0px;
}
.aspect-very-tall .circle--1 .skill:nth-child(2) br {
  display: none;
}
.aspect-very-tall .circle--1 .skill:nth-child(4) br {
  display: none;
}
.aspect-very-tall .circle--1 .skill:nth-child(6) br {
  display: none;
}
.aspect-very-tall .circle--middle .skill:nth-child(1) {
  order: 4;
}
.aspect-very-tall .circle--middle .skill:nth-child(2) {
  order: 3;
  padding-left: 1vmax;
  padding-right: 1vmax;
}
.aspect-very-tall .circle--middle .skill:nth-child(3) {
  order: 1;
}
.aspect-very-tall .circle--middle .skill:nth-child(4) {
  order: 2;
}
.aspect-very-tall .circle--2 .skill:nth-child(4) {
  padding: 0 8vmax;
}
@media (max-width: 380px) and (min-height: 670px) {
  .aspect-very-tall .skills {
    padding-bottom: 8vmax;
  }
  .aspect-very-tall .skill {
    font-size: 2vmax;
  }
  .aspect-very-tall .circleTitle {
    position: absolute;
    right: 0;
  }
  .aspect-very-tall .circle {
    border: none;
  }
  .aspect-very-tall .circle--2 {
    margin-top: -18vmax;
  }
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.circle--1 {
  position: relative;
  left: -30vmax;
  opacity: 0;
  transition: all 1s ease-in-out 0s;
}

.circle--2 {
  position: relative;
  right: -30vmax;
  opacity: 0;
  transition: all 1s ease-in-out 0s;
}

.circle .skill {
  opacity: 0;
  transition: opacity 1s ease-in-out 0.8s;
}

.circle--1.in-view {
  position: relative;
  left: 0;
  opacity: 1;
}

.circle--2.in-view {
  position: relative;
  right: 0;
  opacity: 1;
}

.circle.in-view .skill {
  opacity: 1;
}

.experience {
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
  background: #FBFFF8;
}
.experience__heading, .experience__footer {
  background: #879679;
  color: #fff;
  font-size: 5.5vmax;
  padding-left: 4vmax;
  font-family: Domine, serif;
  border-right: 3vmax solid #5A694D;
  position: relative;
  margin-right: 6vmax;
  padding-top: 1vmax;
  padding-bottom: 1vmax;
}
.experience__heading:after, .experience__heading:before, .experience__footer:after, .experience__footer:before {
  content: " ";
  position: absolute;
  right: -6vmax;
  top: 0;
  width: 3vmax;
  width: calc(3vmax + 2px);
  height: 100%;
  background: #485D36;
}
.experience__heading:before, .experience__footer:before {
  right: -9vmax;
  background: #374D24;
}

.timeline {
  position: relative;
  padding: 10vmax 0.5vmax 10vmax 0;
  margin-left: 30%;
  list-style: none;
}
@media (max-width: 767px) {
  .timeline {
    margin-left: 7%;
  }
}
.timeline:before {
  content: " ";
  width: 1vmax;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #879679;
}
.timelineDetails {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.9);
  display: none;
}
.timelineDetails__next, .timelineDetails__prev {
  position: fixed;
  left: 0;
  width: 10%;
  text-align: center;
  height: 5vmax;
  top: 20vmax;
  cursor: pointer;
  color: #fff;
  background: url(../img/icon-left.svg) no-repeat center center transparent;
}
.timelineDetails__next img, .timelineDetails__prev img {
  display: none;
}
.timelineDetails__next {
  background-image: url(../img/icon-right.svg);
}
.timelineDetails__next {
  left: initial;
  right: 0;
}
.timelineDetails__close {
  position: absolute;
  height: 3vmax;
  width: 3vmax;
  text-align: center;
  border-radius: 100%;
  right: -1.5vmax;
  top: -1.5vmax;
  cursor: pointer;
  background: url(../img/icon-close.svg) no-repeat center center #879679;
  background-size: 55%;
}
.timelineDetails__close img {
  width: 1.5vmax;
  position: relative;
  top: 0.4vmax;
}
.timelineDetails__inner {
  background: white;
  border: 1vmax solid #879679;
  width: 80%;
  margin: 10vmax auto 0 auto;
  padding: 10vmax;
  position: relative;
  font-size: 2.2rem;
}
.timelineDetails__title {
  font-weight: bold;
  margin-bottom: 1rem;
}
.timelineDetails__link {
  color: #555353;
  margin-bottom: 2rem;
  display: inline-block;
}
.timelineDetails__duties ul {
  list-style: disc;
  margin-left: 2rem;
}
.timelineDetails__duties ul li {
  margin-bottom: 0.5rem;
}
.timelineItem {
  position: relative;
  margin-bottom: 9vmax;
  padding-left: 2.5vmax;
  line-height: 1.5;
  font-size: 1.9vmax;
}
@media (max-width: 767px) {
  .timelineItem {
    font-size: 2.8vmax;
  }
}
.timelineItem:last-child {
  margin-bottom: 0;
}
.timelineItem:before {
  content: " ";
  position: absolute;
  top: 0.5vmax;
  left: 0.2vmax;
  background: white;
  border-radius: 100%;
  border: 0.4vmax solid #879679;
  width: 0;
  height: 0;
}
.timelineItem__date {
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 0.5vmax 1vmax 0.5vmax 0;
  z-index: 3;
  background: #D3E7F3;
  color: #707070;
  margin-left: -19vmax;
  width: 13.5vmax;
  height: 3.33vmax;
  text-align: right;
  font-size: 1.6vmax;
}
@media (max-width: 767px) {
  .timelineItem__date {
    margin-left: 1vmax;
    margin-bottom: 1vmax;
    text-align: left;
    padding: 0 0px 0 1vmax;
    font-size: 2.3vmax;
    width: 19vmax;
    top: -0.5vmax;
  }
}
.timelineItem__date:before, .timelineItem__date:after {
  content: " ";
  position: absolute;
  top: 0;
  right: -1.05vmax;
  width: 0;
  height: 0;
  border-top: 1.7vmax solid transparent;
  border-left: 1.2vmax solid #D3E7F3;
  border-bottom: 1.7vmax solid transparent;
}
@media (max-width: 767px) {
  .timelineItem__date:before, .timelineItem__date:after {
    border-right: 1.2vmax solid #D3E7F3;
    border-left: 0px none;
    left: -1.05vmax;
    right: initial;
  }
}
.timelineItem__title, .timelineItem__place {
  padding-left: 10px;
}
.timelineItem__title {
  font-weight: bold;
  margin-top: -3.3vmax;
}
@media (max-width: 767px) {
  .timelineItem__title {
    margin-top: 0;
  }
}
.timelineItem__link {
  color: gray;
}
.timelineItem__expand {
  cursor: pointer;
  border-bottom: 3px solid gray;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1.6vmax;
}
@media (max-width: 767px) {
  .timelineItem__expand {
    font-size: 2.4vmax;
  }
}
.timelineItem__duties {
  display: none;
  position: absolute;
  width: 50vmax;
  height: 60vh;
  background: red;
  border: 1px solid white;
  border-top-width: 20vh;
  border-bottom-width: 20vh;
  border-left-width: 25vmax;
  border-right-width: 25vmax;
  top: 0;
  left: 0;
  z-index: 9999;
}

.show {
  display: block;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timelineItem::before {
  transition: all 0.5s ease-in-out;
}

.timelineItem.in-view::before {
  width: 2vmax;
  height: 2vmax;
  left: -0.5vmax;
}

.timelineItem div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out 0.6s;
}

.timelineItem div.timelineItem__date {
  transition-delay: 0.3s;
}

.timelineItem > *:not(.timelineItem__date) {
  transform: translate3d(200px, 0, 0);
}

.timelineItem .timelineItem__date {
  transform: translate3d(-200px, 0, 0);
}

.timelineItem.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.aspect-very-tall .timelineDetails__inner {
  padding: 6vmax 4vmax;
}
@media (max-width: 700px) {
  .aspect-very-tall .timelineDetails__inner {
    font-size: 1.8rem;
    padding: 3vmax 2vmax;
    margin-top: 5vmax;
    max-height: 90vh;
    overflow-y: scroll;
  }
}
.aspect-very-tall .timelineDetails__close {
  height: 5vmax;
  width: 5vmax;
  border-radius: 0 0 0 100%;
  background-position: top right;
  right: 0;
  top: 0;
}

.projects {
  background: #707572;
  color: white;
  font-size: 2vmax;
  padding: 7vmax 5vmax 10vmax;
  line-height: 1.5;
  position: relative;
}
.projects__heading {
  font-size: 5.5vmax;
  font-family: Domine, serif;
  text-align: right;
  line-height: 1;
  margin-bottom: -3vmax;
}
.projects__desc {
  font-size: 2vmax;
  padding-right: 40vmax;
  margin-bottom: 6vmax;
}
.projectsItem {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 15vmax;
  margin-right: 15vmax;
  margin-bottom: 6vmax;
}
.projectsItem:last-child {
  margin-bottom: 0;
}
.projectsItem__link {
  border-bottom: 1vmax solid #F68D4E;
  font-family: Domine, serif;
  margin-bottom: 1vmax;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: right;
}
.projectsItem__link:hover, .projectsItem__link:active, .projectsItem__link:focus {
  background: #555353;
  border-bottom-color: #FC8238;
}
.projectsItem__desc {
  font-size: 1.7vmax;
}
.projectsItem__desc a {
  color: #fff;
}
.projects__professionalWrapper {
  margin-bottom: 10vmax;
}
.projects__personalWrapper .projects__heading {
  text-align: left;
}
.projects__personalWrapper .projects__desc {
  text-align: right;
  padding-right: 0;
  padding-left: 40vmax;
}
.projects__personalWrapper .projectsItem__link {
  text-align: left;
}

.aspect-tall .projects {
  font-size: 2.4vmax;
}
.aspect-tall .projects__desc {
  font-size: 2.2vmax;
}
.aspect-tall .projectsItem__desc {
  font-size: 1.8vmax;
}

.aspect-very-tall .projects__heading {
  margin-bottom: 0;
}
.aspect-very-tall .projects__desc {
  font-size: 2vmax;
  padding-right: 27vmax;
  margin-bottom: 6vmax;
}
.aspect-very-tall .projectsItem {
  margin-left: 5vmax;
  margin-right: 5vmax;
}
.aspect-very-tall .projectsLink {
  margin-left: 10vmax;
}
.aspect-very-tall .projectsLink__website {
  margin-right: 10vmax;
}
.aspect-very-tall .projects__personalWrapper .projects__desc {
  padding-right: 0;
  padding-left: 27vmax;
}
.aspect-very-tall .projects__personalWrapper .projectsItem__link {
  text-align: left;
}
@media (max-width: 480px) {
  .aspect-very-tall .projects {
    font-size: 2.8vmax;
    padding-left: 3.5vmax;
    padding-right: 3.5vmax;
  }
  .aspect-very-tall .projects__heading {
    margin-bottom: 2vmax;
  }
  .aspect-very-tall .projects__desc {
    padding-right: 9vmax;
    margin-bottom: 4vmax;
    font-size: 2.6vmax;
  }
  .aspect-very-tall .projects__personalWrapper .projects__desc {
    padding-left: 9vmax;
  }
  .aspect-very-tall .projectsItem {
    margin-left: 3vmax;
    margin-right: 3vmax;
  }
  .aspect-very-tall .projectsItem__desc {
    font-size: 2.4vmax;
  }
}
@media (max-width: 380px) and (min-height: 670px) {
  .aspect-very-tall .projects {
    padding: 8vmax 3vmax 8vmax;
  }
  .aspect-very-tall .projects__desc {
    padding-right: 3vmax;
  }
  .aspect-very-tall .projectsLink {
    margin-left: 3vmax;
  }
  .aspect-very-tall .projectsLink__website {
    margin-right: 1vmax;
  }
}

.contact {
  background: #FAF4E8;
  color: #555353;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.contactInfo {
  padding: 8vmax 3vmax;
  text-align: right;
}
.contactInfo__heading {
  font-size: 7vmax;
  font-family: Domine, serif;
  margin-bottom: 5vmax;
}
.contactInfo__links li {
  margin-bottom: 1.5vmax;
  margin-left: 10vmax;
}
.contactInfo__links li a {
  background: #D3E7F3;
  color: #555353;
  font-size: 2vmax;
  text-decoration: none;
  display: block;
  padding: 0.5vmax 1vmax 0.5vmax 5vmax;
}
.contactInfo__links li a:hover, .contactInfo__links li a:active {
  color: #fff;
  background: #555353;
}
.contactImgWrapper img {
  object-fit: cover;
  object-position: right;
  height: 100%;
  width: 100%;
}

.aspect-very-tall .contact {
  grid-template-columns: 1fr;
  border-bottom: 1vmax solid #F68D4E;
}
.aspect-very-tall .contactImgWrapper {
  height: 35vmax;
}
@media (max-width: 380px) and (min-height: 670px) {
  .aspect-very-tall .contactInfo {
    padding: 8vmax 0vmax;
  }
  .aspect-very-tall .contactInfo__heading {
    margin-right: 4vmax;
  }
  .aspect-very-tall .contactInfo__links li {
    margin-left: 4vmax;
    margin-right: 4vmax;
  }
}
@media (max-width: 480px) {
  .aspect-very-tall .contactInfo__links li a {
    font-size: 2.4vmax;
  }
}

/*# sourceMappingURL=main.css.map */
